body {
    padding: 50px;
}

img {
    width: 300px;
    margin-bottom: 20px;
}

button {
    background-color: #492f0d !important;
    border: saddlebrown !important;
}

button:hover {
    background-color: saddlebrown !important;
}

#filter_error {
    color:red;
    font-size: large; 
    font-weight: 400;
}

#filter_title {
    margin-top: -10px;
}

.html_insert{
    display: inline-block;
    margin-bottom: 0px;
}